.font-categoria {
    font-weight: 600;
    font-size: 14px;
}

.nav-tabs .nav-link.active {
    color: var(--background);
    background-color: var(--main-color);
    border: 0px solid var(--main-color);
}

.nav-tabs .nav-link {
    border: 1px solid var(--secondary-color);
    border-radius: 0px;
}
