<div class="container mt-4 px-5 justify-content-center" *ngIf="funcionario">
    <div class="mb-4">
        <label for="formControlNome" class="form-label mb-3">Nome</label>
        <input type="text" class="form-control py-3 px-2" id="exampleFormControlInput1" [attr.value]="funcionario.nome" [(ngModel)]="funcionario.nome">
    </div>
    <div class="mb-4">
        <label for="formControlUsuario" class="form-label mb-3">Usuário</label>
        <input type="text" class="form-control py-3 px-2" id="formControlUsuario" [attr.value]="funcionario.usuario" [(ngModel)]="funcionario.usuario">
    </div>
    <div class="mb-4">
        <label for="formControlSenha" class="form-label mb-3">Senha</label>
        <input type="password" class="form-control py-3 px-2" id="formControlSenha" placeholder="Nova senha" [(ngModel)]="funcionario.senha">
    </div>
    <div class="mb-4">
        <label for="formControlTipo" class="form-label mb-3">Tipo</label>
        <div id="formControlTipo">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault1" value="Funcionario" [(ngModel)]="funcionario.tipo">
                <label class="form-check-label" for="radioDefault1">
                    Funcionario
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault2" value="Gerente" [(ngModel)]="funcionario.tipo">
                <label class="form-check-label" for="radioDefault2">
                    Gerente
                </label>
            </div>
        </div>
    </div>
    <div class="mt-4">
        <button type="submit" class="btn btn-font background bg-main-color px-3" (click)="criar()">Confirmar</button>
    </div>
</div>