<app-modal-aviso [mensagem]="'Conta impressa'"></app-modal-aviso>
<div class="m-4" *ngIf="relatorio != null">
    <div class="container">
        <div class="card px-0 data-font">
            <div class="card-body p-3">
                <div class="d-flex justify-content-between">
                    <span>{{relatorio.dataHoraFim.toLocaleDateString('pt-BR')}}</span>
                    <span>{{relatorio.dataHoraFim.toLocaleTimeString('pt-BR')}}</span>
                </div>
                <hr>
                <div *ngFor="let item of relatorio.itens">
                    <div class="d-flex justify-content-between">
                        <span>{{item.quantidade}}x - {{item.nomeProduto}}</span>
                        <span>{{item.precoUnitario | currency:'BRL'}}</span>
                    </div>
                    <div *ngIf="item.extras as extras">
                        <div *ngIf="extras.length > 0">
                            <span style="padding-left: 32px;" *ngFor="let extra of extras">{{extra}}</span>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <span>Taxa de Garçom</span>
                    <span>{{(relatorio.precoFinal * 0.1) | currency:'BRL'}}</span>
                </div>
                <div class="d-flex justify-content-between mt-4">
                    <span>Total</span>
                    <span>{{(relatorio.precoFinal + (relatorio.precoFinal * 0.1)) | currency:'BRL'}}</span>
                </div>
            </div>
            <button class="btn btn-flex btn-font background bg-main-color p-4" type="button" data-bs-toggle="modal" data-bs-target="#modal-confirmar">Imprimir</button>
        </div>
    </div>
</div>