<ul id="navbar-scroll" class="d-flex overflow-auto flex-nowrap p-4 z-3 nav nav-tabs mb-3 position-sticky top-0 bg-background align-items-start">
    <li style="height: auto; white-space: nowrap;" class="d-flex nav-item flex-nowrap" *ngFor="let categoria of categorias; let i = index">
        <a class="nav-link main-color font-categoria" [class.active]="i === activeIndex" (click)="scrollToSection($event, 'categoria-' + categoria.id, i)">
            {{categoria.nome}}
        </a>
    </li>
</ul>
<div class="container-fluid p-4 mb-5" data-bs-spy="scroll" data-bs-target="#navbar-scroll">
    <app-categoria *ngFor="let categoria of categorias" [categoria]="categoria"></app-categoria>
</div>