<div class="container mt-4 d-block">
    <mat-form-field class="d-flex">
        <mat-label>Data Início:</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="dataSelecionadaInicio" name="dataSelecionadaInicio" [value]="dataSelecionadaInicio">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <p></p>
    <mat-form-field class="d-flex">
        <mat-label>Data Fim:</mat-label>
        <input matInput [matDatepicker]="picker2" [(ngModel)]="dataSelecionadaFim" name="dataSelecionadaFim" [value]="dataSelecionadaFim">
        <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
    <button type="submit" class="btn btn-font bg-main-color background mt-3" (click)="enviar()">Confirmar</button>
</div>