.btn-adicionar {
    border-radius: 0;
    cursor: ponter;
}
.btn-adicionar:hover {
    background-color: var(--secondary-color);
    color: var(--main-color);
}
.strong-font {
    font-weight: 700;
    font-size: 16px;
}