<div class="container-md text-center">
    <div class="d-flex row row-cols-1 row-cols-sm-2 row-cols-lg-4 justify-content-center">
        <a [routerLink]="['/ver-pedidos']" class="col text-center mt-5">
            <img [src]=images.verPedidos alt="ver_pedidos">
        </a>
        <a [routerLink]="['/fazer-pedidos']" class="col text-center mt-5">
            <img [src]=images.fazerPedidos alt="fazer_pedidos">
        </a>
        <a [routerLink]="['/relatorios']" class="col text-center mt-5">
            <img [src]=images.relatorios alt="relatorio">
        </a>
        <a [routerLink]="['/gerenciar']" class="col text-center mt-5">
            <img [src]=images.gerenciar alt="gerenciar">
        </a>
    </div>
</div>