<div class="container">
    <div class="mt-4 text-center">
        <button class="btn text-start btn-selecionar py-3 main-color w-100" type="button" aria-expanded="false" [routerLink]="'produtos'">
            Produtos
        </button>
    </div>
    <div class="mt-4 text-center">
        <button class="btn text-start btn-selecionar py-3 main-color w-100" type="button" aria-expanded="false" [routerLink]="'funcionarios'">
            Funcionarios
        </button>
    </div>
    <div class="mt-4 text-center">
        <button class="btn text-start btn-selecionar py-3 main-color w-100" type="button" aria-expanded="false" [routerLink]="'mesas'">
            Mesas
        </button>
    </div>
</div>