<div class="container" style="margin-bottom: 70px;" *ngIf="categoria$ | async as categorias">
    <div class="row mt-4 mx-2 btn-selecionar text-start py-3 px-1 main-color justify-content-between" *ngFor="let categoria of categorias">
        <div class="col" style="transform: translateY(4px);">
            {{categoria.nome}}
        </div>
        <div class="col text-end">
            <img class="mx-3" [src]="images.remover" alt="Ícone remover" data-bs-toggle="modal" [attr.data-bs-target]="'#modalRemover-' + categoria.id" style="cursor: pointer;">
            <img [src]="images.editar" alt="Ícone editar" data-bs-toggle="modal" [attr.data-bs-target]="'#modalEditar-' + categoria.id" style="cursor: pointer;">
        </div>
        <!--Modal para editar-->
        <div class="modal" tabindex="-2" [id]="'modalEditar-' + categoria.id">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center main-color">
                        <textarea class="w-100 p-2" type="text" placeholder="Insira o novo nome da categoria" [(ngModel)]="nomeCategoriaAlterada"></textarea>
                    </div>
                    <div class="row g-0">
                        <button type="button" class="btn btn-modal data-font bg-main-color background col" data-bs-dismiss="modal" (click)="editar(categoria)">Confirmar</button>
                        <button type="button" class="btn btn-modal data-font bg-main-color background col" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal para remover-->
        <div class="modal" tabindex="-3" [id]="'modalRemover-' + categoria.id">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body text-center main-color">
                        Tem certeza de que deseja deletar a categoria? Todos os produtos dentro dela serão deletados.
                    </div>
                    <div class="row g-1">
                        <button type="button" class="btn btn-modal data-font bg-main-color background col" data-bs-dismiss="modal" (click)="remover(categoria.id)">Confirmar</button>
                        <button type="button" class="btn btn-modal data-font bg-main-color background col" data-bs-dismiss="modal">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button class="btn btn-adicionar bg-main-color strong-font background fixed-bottom justify-content-center p-4 d-flex" type="button" data-bs-toggle="modal" data-bs-target="#modalAdicionar">
        Adicionar Categoria
</button>

<!--Modal para adicionar-->
<div class="modal" tabindex="-2" id="modalAdicionar">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body text-center main-color">
                <textarea class="w-100 p-2" type="text" placeholder="Insira o nome da categoria" [(ngModel)]="nomeNovaCategoria"></textarea>
            </div>
            <div class="row g-0">
                <button type="button" class="btn btn-modal data-font bg-main-color background col" data-bs-dismiss="modal" (click)="adicionar()">Confirmar</button>
                <button type="button" class="btn btn-modal data-font bg-main-color background col" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
