.btn-adicionar, .btn-adicionar:hover{
    border-radius: 0;
    color: var(--background);
    background-color: var(--main-color);
    cursor: unset;
}
.strong-font {
    font-weight: 700;
    font-size: 16px;
}
.print-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 800px;
  margin: auto;
}

h2 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 15px;
}

.periodo p {
  margin: 4px 0;
  font-size: 13px;
}

.tabela-relatorio {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 13px;
  table-layout: fixed;
}

.tabela-relatorio th,
.tabela-relatorio td {
  border: 1px solid #333;
  padding: 6px 8px;
  text-align: center;
  word-wrap: break-word;
}

.tabela-relatorio th {
  background-color: #EEEEEE;
  print-color-adjust: exact;
}

.assinatura {
  margin-top: 40px;
  text-align: center;
  font-size: 13px;
}

/* Impressão */
@media print {
  body * {
    visibility: hidden;
  }

  .print-container, .print-container * {
    visibility: visible;
  }

  .print-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
